<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/Home}"
>

<head>
    <title>Edit Sub Tugas</title>
</head>

<body>

<div layout:fragment="content" class="mx-auto max-w-5xl p-4">

    <!-- Breadcrumb -->
    <div class="breadcrumbs text-sm mb-4">
        <ul>

            <li><a href="/">Beranda</a></li>

            <li>
                <a
                    th:href="@{/class/{classCode}(classCode=${classs.classCode})}"
                    th:text="${classs.name}">
                </a>
            </li>

            <li>
                <a
                    th:href="@{/class/{classCode}/tasks/{taskId}
                    (classCode=${classs.classCode},
                    taskId=${task.id})}"
                    th:text="${task.title}">
                </a>
            </li>

            <li>Edit Sub Tugas</li>

        </ul>
    </div>

    <!-- Alert -->

    <div th:if="${error}" class="alert alert-soft alert-error mb-4">
        <span th:text="${error}"></span>
    </div>

    <div th:if="${errors}" class="alert alert-soft alert-warning mb-4">

        <div>

            <h3 class="font-bold">

                Validasi gagal.

            </h3>

            <ul class="list-disc ps-4">

                <li
                    th:each="err : ${errors}"
                    th:text="${err.defaultMessage}">
                </li>
            </ul>
        </div>
    </div>

    <!-- Header -->

    <div class="flex items-center justify-between mb-4">

        <h1 class="typo-heading-xl">

            Edit Sub Tugas

        </h1>

    </div>

    <!-- Card -->

    <div class="card bg-base-100 border border-base-300">

        <div class="card-body">

            <form

                th:action="@{/class/{classCode}/tasks/{taskId}/subtasks/{subtaskId}/edit(
                classCode=${classs.classCode},
                taskId=${task.id},
                subtaskId=${subtask.id})}"

                th:object="${updateSubTaskDto}"

                method="post"

                class="flex flex-col">

                <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />

                <fieldset class="fieldset">

                    <legend class="fieldset-legend">

                        Judul

                    </legend>

                    <input
                        th:field="*{title}"
                        class="input validator w-full"
                        type="text"
                        minlength="3"
                        maxlength="255"
                        required/>

                </fieldset>

                <fieldset class="fieldset">

                    <legend class="fieldset-legend">

                        Deskripsi

                    </legend>

                    <textarea
                        th:field="*{description}"
                        class="textarea validator w-full"
                        rows="5">
                    </textarea>

                </fieldset>

                <fieldset class="fieldset">

                    <legend class="fieldset-legend">

                        Deadline

                    </legend>

                    <input
                        th:field="*{deadline}"
                        type="datetime-local"
                        class="input validator w-full"
                        required/>

                </fieldset>

                <div class="flex justify-end gap-2 mt-5">

                    <a
                        class="btn btn-ghost"
                        th:href="@{/class/{classCode}/tasks/{taskId}
                        (classCode=${classs.classCode},
                        taskId=${task.id})}">

                        Batal

                    </a>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        Simpan

                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete -->

    <div class="mt-4">

        <form

            th:action="@{/class/{classCode}/tasks/{taskId}/subtasks/{subtaskId}/delete(
            classCode=${classs.classCode},
            taskId=${task.id},
            subtaskId=${subtask.id})}"

            method="post">

            <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />

            <button
                class="btn btn-error btn-outline w-full"
                onclick="return confirm('Yakin ingin menghapus Sub Tugas?')">

                Hapus Sub Tugas

            </button>
        </form>
    </div>
</div>
</body>
</html>