<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-theme="light">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title layout:title-pattern="$CONTENT_TITLE | RuangKelas">RuangKelas</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}" />

		<!-- fonts  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="min-h-screen flex flex-col items-center justify-center bg-base-200">
			<img th:src="@{/images/LogoText.svg}" alt="Logo" class="w-52 mb-8" />
			<div layout:fragment="content"></div>
		</div>
	</body>
</html>

