<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-theme="light"
>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title layout:title-pattern="$CONTENT_TITLE | RuangKelas">RuangKelas</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}" />

		<!-- fonts  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
	</head>
	<body class="bg-base-200 min-h-screen">
		<nav class="navbar border-b bg-base-100 border-base-300">
			<div class="w-full mx-auto max-w-5xl justify-between flex items-center">
				<img th:src="@{/images/LogoText.svg}" alt="Logo" class="w-40" />

				<div sec:authorize="isAuthenticated()" class="dropdown dropdown-end">
					<div tabindex="0" role="button" class="btn btn-ghost btn-circle">
						<div class="avatar avatar-placeholder">
							<div class="bg-neutral text-neutral-content w-10 rounded-full">
								<span sec:authentication="principal.initials"></span>
							</div>
						</div>
					</div>
					<div tabindex="0" class="dropdown-content rounded-box border mt-2 border-base-300 bg-base-100 w-52 z-10">
						<div class="px-4 py-2 border-b border-base-300 grid -space-y-px">
							<p sec:authentication="principal.name" class="text-lg font-bold"></p>
							<span th:text="'@' + ${#authentication.principal.username}" class="text-sm text-base-content/60"></span>
						</div>
						<ul class="menu w-full">
							<li><a href="/profile">Profil</a></li>
							<li class="text-error">
								<form method="post" th:action="@{/auth/logout}">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<button type="submit">Keluar</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<main layout:fragment="content"></main>
	</body>
</html>

