<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/Auth}">
	<head>
		<title>Register</title>
	</head>
	<body>
		<div layout:fragment="content" class="card w-full shadow max-w-sm bg-base-100">
			<div class="card-body gap-4">
				<div class="text-center">
					<h1 class="text-2xl font-bold">Daftar Akun Baru</h1>
					<p class="text-base-content/60 text-sm mt-1">Lengkapi data kamu di bawah ini.</p>
				</div>

				<!-- ====== ALERTS ======  -->
				<!-- success  -->
				<div th:if="${success}" class="alert alert-soft alert-success">
					<span th:text="${success}"></span>
				</div>

				<!-- error -->
				<div th:if="${error}" class="alert alert-soft alert-error">
					<span th:text="${error}"></span>
				</div>

				<div th:if="${errors}" class="alert alert-warning alert-soft">
					<div>
						<h3 class="font-bold">Validasi gagal.</h3>
						<ul class="list-disc ps-4">
							<li th:each="err : ${errors}" th:text="${err.defaultMessage}"></li>
						</ul>
					</div>
				</div>
				<!-- ====== ALERTS ======  -->

				<form method="post" th:action="@{/auth/register}" th:object="${registerDto}" class="flex flex-col">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

					<div class="divider">Data akun</div>

					<fieldset class="fieldset">
						<legend class="fieldset-legend">Username</legend>
						<input
							th:field="*{username}"
							class="input validator"
							required
							type="text"
							name="username"
							placeholder="johndoe19"
						/>
						<span class="validator-hint">3 - 30 karakter. Hanya huruf, angka, atau underscore (_)</span>
					</fieldset>

					<fieldset class="fieldset">
						<legend class="fieldset-legend">Email</legend>
						<input
							th:field="*{email}"
							class="input validator"
							required
							type="email"
							name="email"
							placeholder="johndoe@example.com"
						/>
						<span class="validator-hint">Masukkan email yang valid</span>
					</fieldset>

					<fieldset class="fieldset">
						<legend class="fieldset-legend">Password</legend>
						<input
							th:field="*{password}"
							class="input validator"
							required
							type="password"
							name="password"
							placeholder="••••••••"
							pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,16}$"
						/>
						<span class="validator-hint">8 - 16 karakter. Minimal ada 1 angka, 1 huruf kecil, dan 1 huruf besar.</span>
					</fieldset>

					<div class="divider">Data diri</div>

					<fieldset class="fieldset">
						<legend class="fieldset-legend">Nama lengkap</legend>
						<input
							th:field="*{name}"
							class="input validator"
							required
							type="text"
							name="name"
							placeholder="johndoe19"
							pattern="^[A-Za-zÀ-ÿ][A-Za-zÀ-ÿ' .]{2,49}$"
						/>
						<span class="validator-hint">3 - 50 karakter, hanya huruf, spasi, titik, dan apostrof</span>
					</fieldset>

					<fieldset class="fieldset">
						<legend class="fieldset-legend">NIM</legend>
						<input
							th:field="*{nim}"
							class="input validator"
							type="text"
							name="nim"
							placeholder="124705••••"
							pattern="^\d{10}$"
						/>
						<span class="label">Optional</span>
						<span class="validator-hint">10 karakter.</span>
					</fieldset>

					<button type="submit" class="btn btn-primary w-full mt-4">Daftar</button>
				</form>

				<p class="text-center text-sm text-base-content/60">
					Sudah punya akun?
					<a href="/auth/login" class="link link-primary">Masuk</a>
				</p>
			</div>
		</div>
	</body>
</html>

